body {
    color: black;
    margin: 10 px;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 17px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

body .about-us {
    color: rgb(49, 0, 0);
}

body .info {
    color: rgb(78, 0, 0);
    width: 50%;
    float: right;
}

body .winter {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 15%;
}

body .summer {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 15%;
}

body .history {
    color: rgb(126, 0, 0);
    width: 50%;
    float: left;
}

body .bowl {
    max-width: 20%;
    height: auto;
    float: right;
    padding: 15%;
}

body .sisters {
    max-width: 20%;
    height: auto;
    float: right;
    padding: 15%;
}

body .modern {
    color: rgb(161, 0, 0);
    width: 50%;
    float: right;
}

body .dish {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 15%;
}
body .pie {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 15%;
}
body .lanterns {
    max-width: 20%;
    height: auto;
    float: left;
    padding: 15%;
}