body {
    color: black;
    margin: 0;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 21px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

body .about-us {
    color: rgb(49, 0, 0);
    margin: 20 px;
}

body .info {
    color: rgb(78, 0, 0);
}

body .history {
    color: rgb(126, 0, 0);
    margin: 20 px;
}

body .modern {
    color: rgb(161, 0, 0);
}